.header {
  border-bottom: 0.1rem solid grey;
}
.navBar {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  min-height: 10vh;
  margin: auto;

  a {
    display: flex;
    align-items: center;
    width: 15%;
    font-size: 3rem;
    gap: 1rem;
  }
  button {
    align-items: center;
  }
}
.appName {
  display: block;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  li {
    a {
      width: 100%;
      font-size: 2rem;
      svg {
        width: 3.4rem;
        height: 3.4rem;
      }
      span {
        width: 100px;
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .appName {
    display: none;
  }
}
